#toggle-menu.icon-menu.toggle-menu
nav#nav.main-nav
    ul.main-menu
      li.main-menu__item
        a(href="index.html").main-menu__link Inicio
      li.main-menu__item
        a(href="nosotros.html").main-menu__link Nosotros
      li.main-menu__item
        a(href="software-libre.html").main-menu__link Software Libre
      li.main-menu__item
        a(href="open-source.html").main-menu__link Open Source
