@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Oswald:300,400");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  width: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

main {
  padding-bottom: 4em;
}

.article {
  flex-direction: column;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .article {
    flex-direction: initial;
  }
}

.article__img {
  border: 2px solid skyblue;
}

.article__content {
  padding-left: 1.5em;
}

.category {
  color: black;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5%;
}

.category:hover {
  background: #68c2e6;
  text-decoration: underline;
}

.galery__img {
  border-radius: 5%;
}

@media screen and (min-width: 480px) {
  .galery__img {
    height: auto;
    width: 25%;
    margin-top: 20px;
    padding-right: 10px;
  }
  .galery__img:last-child {
    padding-right: 0;
  }
}

@media screen and (min-width: 480px) {
  .galery {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.tabs-comtainer {
  position: relative;
  margin: 2em auto;
}

.tabs {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.tabs__item {
  border: 1px solid #ccc;
  border-bottom: none;
  line-height: 2.5;
  padding: 0 1em;
  margin-right: 1px;
  background: #eee;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 1px;
  z-index: 0;
  cursor: pointer;
}

.tabs__item.active {
  background: #fff;
  z-index: 20;
}

.panels {
  border: 1px solid #ccc;
  padding: 1em;
  position: relative;
  z-index: 10;
}

.panels__item {
  position: absolute;
  left: -1000%;
}

.panels__item.active {
  position: relative;
  left: 0;
}

.banner {
  position: relative;
  background-size: cover;
}

.banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: skyblue;
  position: absolute;
  opacity: 0.5;
}

.banner__img {
  display: block;
  height: 20em;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .banner__img {
    height: 31em;
  }
}

.banner__content {
  color: #000;
  left: 50%;
  position: absolute;
  top: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  z-index: 200;
}

.banner__content__paragraph {
  text-shadow: 1px 2px #ddd;
  font-size: 2em;
}

@media screen and (min-width: 768px) {
  .banner__content__paragraph {
    font-size: 3em;
  }
}

.l-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 90%;
}

@media screen and (min-width: 480px) {
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.content__img {
  padding-bottom: 2em;
}

.software, .content {
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.07);
  margin-bottom: 1.5em;
  text-align: center;
  padding: 1em;
  border: 1px solid rgba(135, 206, 235, 0.2);
}

@media screen and (min-width: 480px) {
  .software, .content {
    width: calc(50% - .5em);
    margin: 0 0 1em;
  }
}

@media screen and (min-width: 1025px) {
  .software, .content {
    width: calc(25% - 1em);
  }
}

.software__img {
  border-radius: 50%;
  width: 50%;
  border: 3px solid #FFDA63;
}

.software img, .content img {
  height: 70%;
  width: 100%;
}

.software__name {
  margin: 0;
}

.software__button {
  font-size: .8em;
}

.main-footer {
  background: #2B2B2B;
  padding: 1.5em 0;
  text-align: right;
}

.enviar {
  display: flex;
  height: 40px;
  max-width: 455px;
  position: relative;
}

.enviar__text {
  background-color: #fff;
  border: 1px solid #8D8B81;
  border-radius: 5% 0 0 5%;
  box-shadow: none;
  color: #2b2b2b;
  flex: 1 1 auto;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.61803;
  margin-bottom: 0;
  padding: 6px 12px;
  position: relative;
  transition: none;
  vertical-align: middle;
  z-index: 2;
}

.enviar__button {
  align-items: stretch;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  margin-left: -1px;
  max-width: 360px;
  overflow: visible;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 30;
}

.social-icon {
  color: #fff;
  display: inline-block;
  font-size: 1.4em;
  margin: 0 .3em;
  opacity: .5;
  position: relative;
}

.social-icon:hover {
  opacity: 10;
}

.main-header {
  background: #1976D2;
  z-index: 100;
  width: 100%;
}

.icon-code {
  font-size: 2.5em;
  color: #fff;
}

.icon-menu {
  color: #fff;
  font-size: 1.8em;
  cursor: pointer;
}

.button {
  display: inline-block;
  line-height: 2.5;
  padding: 0 1.2em;
  margin-top: 1em .5em 0;
  color: white;
}

.button.primary {
  background: #1976D2;
}

.button.primary:hover {
  background: #1669bb;
}

@media screen and (min-width: 1025px) {
  .button {
    font-size: 1em;
  }
}

.main-nav {
  background: #0b3660;
  position: fixed;
  top: 0;
  right: -15em;
  width: 15em;
  padding: 1em;
  height: 100vh;
  z-index: 200;
  transition: all .3s;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__item {
  border-bottom: 1px solid rgba(25, 118, 210, 0.2);
}

.main-menu__item:hover {
  opacity: 0.5;
}

.main-menu__link {
  color: #fff;
  line-height: 2.7;
  display: block;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

body {
  position: relative;
  right: 0;
  transition: all .3s;
}

.line::before {
  background: #8D8B81;
  content: "";
  display: block;
  height: 1px;
  margin: 1.7em 0;
  position: relative;
  top: 0;
  width: 100%;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .link {
    margin-right: 10px;
  }
}

.mark, .category {
  background: skyblue;
  font-size: 1.4em;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.focus:focus {
  border: 1px solid #222;
}

.main-nav.show {
  right: 0;
}

body.show {
  right: 15em;
}
