extends template/template

block banner
  .banner
    img(src="img/banner.jpg", alt="Banner").banner__img
    .banner__content
      h3.mark Plataforma web educativa
      p.banner__content__paragraph Software Libre y Open Source
      a(href="#").button.primary Ver más

block content
  h2 Software Libre y Open Source
  include config/config
    each software in softwares
      .software
        img(src=software.img, alt=software.name)
        h3.software__name= software.name
        a(href=software.url).software__button.button.primary Ver más
