-
  var softwares = [
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
  ];

-
  var freeSoftwares = [
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
  ];

-
  var openSources = [
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
  ];
