-
  var softwares = [
    {
      img:'img/manjaro-linux.png',
      name:'Manjaro linux',
      url: 'article.html'
    },
    {
      img:'img/firefox-quantum.jpg',
      name:'Firefox Quantum',
      url: 'article.html'
    },
    {
      img:'img/ubuntu.jpeg',
      name:'Ubuntu 18.04',
      url: 'article.html'
    },
    {
      img:'img/code.jpg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
  ];

-
  var freeSoftwares = [
    {
      img:'img/emacs.jpg',
      name:'Emacs',
      url: 'article.html'
    },
    {
      img:'img/vim.png',
      name:'Vim',
      url: 'article.html'
    },
    {
      img:'img/trisquel.jpg',
      name:'Trisquel GNU/Linux',
      url: 'article.html'
    },
    {
      img:'img/pureos.png',
      name:'Pure OS',
      url: 'article.html'
    },
    {
      img:'img/libreoffice.png',
      name:'LibreOffice',
      url: 'article.html'
    },
    {
      img:'img/gimp.jpg',
      name:'GIMP',
      url: 'article.html'
    },
    {
      img:'img/geany.png',
      name:'Geany',
      url: 'article.html'
    },
    {
      img:'img/nano.png',
      name:'Nano',
      url: 'article.html'
    },
  ];

-
  var openSources = [
    {
      img:'img/ubuntu.jpeg',
      name:'Visual Studio Code',
      url: 'article.html'
    },
    {
      img:'img/firefox-quantum.jpg',
      name:'Firefox',
      url: 'article.html'
    },
    {
      img:'img/manjaro-linux.png',
      name:'Manjaro Linux',
      url: 'article.html'
    },
    {
      img:'img/vlc.png',
      name:'VLC media player',
      url: 'article.html'
    },
    {
      img:'img/open-office.jpg',
      name:'Apache Open Office',
      url: 'article.html'
    },
    {
      img:'img/atom.png',
      name:'Atom',
      url: 'article.html'
    },
    {
      img:'img/netbeans.jpg',
      name:'Netbeans',
      url: 'article.html'
    },
    {
      img:'img/chromium.png',
      name:'Google Chromium',
      url: 'article.html'
    },
  ];
