extends templates/template
append config
	-page = 'Software Libre';

block content
	h2.software-title Software libre
	.software-group
		img(src="img/code.jpg", alt="Software").software-group__img
		h3.software-group__name Software #
		a(href="#").software-group__button.button.primary Ver más
	.software-group
		img(src="img/code.jpg", alt="Software").software-group__img
		h3.software-group__name Software #
		a(href="#").software-group__button.button.primary Ver más
	.software-group
		img(src="img/code.jpg", alt="Software").software-group__img
		h3.software-group__name Software #
		a(href="#").software-group__button.button.primary Ver más
	.software-group
		img(src="img/code.jpg", alt="Software").software-group__img
		h3.software-group__name Software #
		a(href="#").software-group__button.button.primary Ver más
	.software-group
		img(src="img/code.jpg", alt="Software").software-group__img
		h3.software-group__name Software #
		a(href="#").software-group__button.button.primary Ver más
	.software-group
		img(src="img/code.jpg", alt="Software").software-group__img
		h3.software-group__name Software #
		a(href="#").software-group__button.button.primary Ver más
	.software-group
		img(src="img/code.jpg", alt="Software").software-group__img
		h3.software-group__name Software #
		a(href="#").software-group__button.button.primary Ver más
	.software-group
		img(src="img/code.jpg", alt="Software").software-group__img
		h3.software-group__name Software #
		a(href="#").software-group__button.button.primary Ver más