block config
	include ../config/config.pug

<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="https://file.myfontastic.com/uJc2SrwoxjsQUBbfu2Ase9/icons.css")
		link(rel="stylesheet", href="css/style.css")
		title #{page} | Plataforma web Open Source
	body#body
		header.main-header
			.l-container
				a(href="index.html")
					img(src="img/logo.png", alt="Logo").logo
				#toggle-menu.icon-menu.toggle-menu
				nav#nav.main-nav
					ul.main-menu
						li.main-menu__item
							a(href="index.html").main-menu__link Inicio
						li.main-menu__item
							a(href="nosotros.html").main-menu__link Nosotros
						li.main-menu__item
							a(href="software-libre.html").main-menu__link Software Libre
						li.main-menu__item
							a(href="open-source.html").main-menu__link Open Source
		block banner
		main
			.software-container.l-container
				block content


		footer.main-footer
			.l-container
				form
					.enviar
						input(type="text", placeholder="Dirección de correo electronico").enviar-text
						.enviar-button
							button.enviar-button__input.button.primary
								span Enviar
			.social
				a(href="#").social-icon.icon-facebook
				a(href="#").social-icon.icon-twitter
				a(href="#").social-icon.icon-youtube

		script(src="js/scripts.js")