.article {
  flex-direction: column;
  margin-bottom: 10px;
  @include desde($breakpoints, medium) {
    flex-direction: initial;
  }
  &__img {
    border: 2px solid $color-1;
  }
  &__content {
    padding-left: 1.5em;
  }
}

.category {
  @extend .mark;
  color: black;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5%;
  &:hover {
    background: darken($color-1, 7);
    text-decoration: underline;
  }
}

.galery {
  &__img {
    border-radius: 5%;
    @include desde($breakpoints, small) {
      height: auto;
      width: 1% * (100/4);
      margin-top: 20px;
      padding-right: 10px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  @include desde($breakpoints, small) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.tabs-comtainer {
  position: relative;
  margin: 2em auto;
}

.tabs {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  &__item {
    border: 1px solid #ccc;
    border-bottom: none;
    line-height: 2.5;
    padding: 0 1em;
    margin-right: 1px;
    background: #eee;
    border-radius: 5px 5px 0 0;
    position: relative;
    top: 1px;
    z-index: 0;
    cursor: pointer;
    &.active {
      background: #fff;
      z-index: 20;
    }
  }
}

.panels {
  border: 1px solid #ccc;
  padding: 1em;
  position: relative;
  z-index: 10;
  &__item {
    position: absolute;
    left: -1000%;
    &.active {
      position: relative;
      left: 0;
    }
  }
}
