.main-container {
  @include desde($breakpoints, small) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.main-content {
  @include desde($breakpoints, medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.content {
  &__img {
    padding-bottom: 2em;
  }
}

.software {
  margin-left: auto;
  margin-right: auto;
  background: rgba(#000, .07);
  margin-bottom: 1.5em;
  text-align: center;
  padding: 1em;
  border: 1px solid rgba($color-1, .2);

  @include desde($breakpoints, small) {
      width: calc(50% - .5em);
      margin: 0 0 1em;
  }

  @include desde($breakpoints, large) {
      width: calc(25% - 1em);
  }
  &__img {
      border-radius: 50%;
      width: 50%;
      border: 3px solid $color-2;
  }
  img {
    height: 70%;
    width: 100%;
  }
  &__name {
      margin: 0;
  }
  &__button {
      font-size: .8em;
  }
}
