doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="https://file.myfontastic.com/uJc2SrwoxjsQUBbfu2Ase9/icons.css")
    link(rel="stylesheet", href="css/style.css")
    title Plataforma web Open Source
  body#body

    header.main-header
      .l-container.flexbox
        a(href="index.html")
          span.icon-code
        block menu
          include ../blocks/menu

    block banner

    main.main-container.l-container
        block content

    footer.main-footer
      .l-container
        form.enviar
          input(type="text", placeholder="Correo electronico").enviar__text.focus
          button.enviar__button.button.primary
            span Enviar
        .social.line
          a(href="#").social-icon.icon-facebook
          a(href="#").social-icon.icon-twitter
          a(href="#").social-icon.icon-youtube

    script(src="js/script.js")
