@charset 'utf-8';

// Colors
$color-1: skyblue;
$color-2: #FFDA63;
$color-3: #1976D2;
$color-4: #8D8B81;
$color-5: #2B2B2B;

// Fonts
$font-title: 'Oswald', sans-serif;
$font-text: 'Lato', sans-serif;
$text-light: 300;
$text-normal: 400;

// width
$max-width: 1200px;
$offcanvas-width: 15em;

// breakpoints
$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1025px,
  x-large: 1400px,
);

// Mixin media queries
@mixin desde($map, $size) {
  @media screen and (min-width: map-get($map, $size)) {
      @content;
  }
}

// Imports
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Oswald:300,400');
@import 'base/base';
@import 'layout/article';
@import 'layout/banner';
@import 'layout/container';
@import 'layout/content';
@import 'layout/footer';
@import 'layout/header';
@import 'modules/buttons';
@import 'modules/menu';
@import 'modules/modules';
@import 'states/state';
@import 'theme/theme';
