.main-footer {
    background: $color3;
    padding: 1.5em 0;
    text-align: right;
}

.enviar {
    display: flex;
    max-width: 455px;
    position: relative;
    &-text {
        background-clip: padding-box;
        background-color: #fff;
        border: 1px solid $color1;
        border-radius: 5% 0 0 5%;
        box-shadow: none;
        color: #2b2b2b;
        flex: 1 1 auto;
        font-family: $font-text;
        font-size: 1rem;
        height: 40px;
        line-height: 1.61803;
        margin-bottom: 0;
        padding: 6px 12px;
        position: relative;
        transition: none;
        vertical-align: middle;
        z-index: 2;
        &:focus {
            border: 1px solid #222;
        }
    }
    &-button {
        align-items: stretch;
        display: flex;
        flex-shrink: 0;
        font-size: 0;
        max-width: 360px;
        overflow: visible;
        position: relative;
        white-space: nowrap;
        z-index: 3;
        &__input {
            border: 1px solid transparent;
            border-radius: 4px;
            border-width: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: 700;
            font-size: 1rem;
            height: 40px;
            line-height: 1.25rem;
            margin: 0;
            margin-left: -1px;
            overflow: visible;
            text-align: center;
            text-decoration: none;
            text-transform: none;
            vertical-align: middle;
        }
    }
}

.social {
    &-icon {
        color: #fff;
        display: inline-block;
        font-size: 1.4em;
        margin: 0 .3em;
        opacity: .5;
        position: relative;
        &:hover {
            opacity: 1;
        }
    }

    &::before {
        background: $color1;
        content: "";
        display: block;
        height: 1px;
        margin: 1.7em 0;
        position: relative;
        top: 0;
        width: 100%;
    }
}
