.main-header {
    background: $color5;
    .l-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    width: 60%;
    height: 100px;
}

.icon-menu {
    color: #fff;
    font-size: 1.8em;
    cursor: pointer;
}