.main-nav {
    background: $color6;
    position: fixed;
    top: 0;
    right: -$offcanvas-width;
    width: $offcanvas-width;
    padding: 1em;
    height: 100vh;
    z-index: 200;
    transition: all .3s;
    
    &.show {
        // top: 100px;
        right: 0;
    }
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    &__item {
        border-bottom: 1px solid rgba($color4, .2);
        
    }
    &__link {
        color: #fff;
        line-height: 2.7;
        display: block;
        text-transform: uppercase;
        font-family: $font-title;
        font-weight: $light;
    }
}


body {
    position: relative;
    right: 0;
    transition: all .3s;
    &.show {
        right: $offcanvas-width;
    }
}
// .main-nav {
//     position: absolute;
//     z-index: 200;
//     top: 100px;
//     background: $color6;
//     display: none;

//     &.show {
//         display: block;
//     }
// }

// .main-menu {
    

//     list-style: none;
//     padding-left: 0;
//     margin-top: 0;
//     margin-bottom: 0;
//     // display: flex;

//     &__item {
//         border-bottom: 1px solid rgba(#fff, .5);

//     }

//     &__link {
//         display: block;
//         line-height: 3;
//         padding: 0 1em;
//         text-decoration: none;
//         color: #fff;
//     }
// }

// .toggle-menu {
//     color: $color3;
//     display: table;
//     font-size: 1.6em;
//     margin-left: auto;
//     margin-right: auto;
// }